
@font-face {
    font-family: bullpen-3d;
    src: url(C:\xampp\htdocs\miprimerproyecto\fuentes\bullpen-3d);
}

@font-face {
    font-family: black_way;
    src: url(C:\xampp\htdocs\miprimerproyecto\fuentes\black_way);
}